.monsterCollectionContainer {
  position: relative;
}

.collectionBox {
  background-color: #5757f1;
  padding: 20px 40px;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.textBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.monsterCollectionContainer h1 {
  color: #fff;
  font-size: 2rem;
}

.backBtn {
  font-weight: bold;
  font-size: 1rem;
  background-color: #efd981;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.backBtn:hover {
  background-color: #eed05a;
}

.monsterCollectionContainer p {
  color: #fff;
  font-size: 1.1rem;
}

.monsterCollectionBox {
  padding: 20px 40px;
  overflow: scroll;
}

.monsterCollectionList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
