.resultLengthContainer {
  background-color: #5757f1;
  border-radius: 10px;

  position: sticky;
  top: 0;
}

.resultLengthBox {
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
