.resultLengthContainer {
  background-color: #3e3e42;

  position: sticky;
  top: 0;
}

.resultLengthBox {
  padding: 20px 40px;
  border-bottom: 2px solid #4f4f55;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
